.header {
    background-color: #18042b;
    font-size: x-large;
    padding: 20px;
    text-align: center;
}


body {
    color: #44474a;
}

.container {
    font-family: helvetica, arial, sans-serif;
    padding: 4em 2em 50em 2em;
    position: relative;
}

#nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #18042b;

    width: 90vw;
    margin: auto;
    top: 100px;

}

#nav li a {
    font-weight: bold;
    color: #069;
}