.header {
    background-color: #18042b;
    font-size: x-large;
    padding: 20px;
    text-align: center;
}

/*
.sticky-header {
    position: 'sticky';
    top: '0';
    z-index: '1';
    background-color: darkblue;
}
*/

body {
    color: #44474a;
}

.container {
    font-family: helvetica, arial, sans-serif;
    padding: 4em 2em 50em 2em;
    position: relative;
}
